.click-on {
    color: chartreuse;
    background-color: black;
}

.click-off {
    color: crimson;
    background-color: darkgray;
}

.mouse-enter {
    color: darkturquoise;
    background-color: firebrick;
}

.click-leave {
    color: gold;
    background-color: darkslategrey;
}